/**
body {
    background:url(/images/background.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed; //不重复
    background-size: cover;      //填充
    background-position:50% 50%;
    opacity: 0.8;
}
*/

//文章内容的透明度设置
//.content-wrap {
//  opacity: 0.8;
//}
//.main-inner {
//  .post-block {
//    background: rgba(255,255,255,1) none repeat scroll !important;
//  }
//}

.sidebar {
  //background: #222;
  opacity: 0.8;
}

//.sidebar-clock {
//  position:absolute;
//  top:100%;
//  margin-top:-50px;
//}

.site-author-name {
  color: #f9f9f9;
  font-weight: bold;
  margin: 5px 0 0;
}

.site-description {
  color: #f9f9f9;
  font-size: 1em;
  font-weight: bold;
  margin-top: 5px;
}
//.headband {display:none;}


.footer-inner {
    text-align: center;
}

// [Read More]按钮样式
.post-button {
    margin-top: 20px;
    text-align: left;
}

.post-button .btn {
    color: #555 !important;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    font-size: 15px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    border: none !important;
    transition-property: unset;
    padding: 0px 15px;
}

.post-button .btn:hover {
    color: rgb(255, 255, 255) !important;
    border-radius: 3px;
    font-size: 15px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    background-image: linear-gradient(90deg, #a166ab 0%, #ef4e7b 25%, #f37055 50%, #ef4e7b 75%, #a166ab 100%);
}
